{% extends 'base.html' %}

{% block title%}
 changepassword
{% endblock %}

{% block content%}
<form id="change-password-form">
</p><label for="old-password">Old password</label>
<input type="password" id="old-password" name="old-password" placeholder="Enter your old password" required>
</p><label for="new-password">New password</label>
<input type="password" id="new-password" name="new-password" placeholder="Enter your new password" required>
</p><label for="new-password-verify">Verify new password</label>
<input type="password" id="new-password-verify" name="new-password-verify" placeholder="Re-enter your new password" required>
    <button type="submit">Change password</button>
  </form>

{% endblock %}
